body{
    text-align: center;
}

body{font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体";font-size: 14px;color: #515151;}
body input, body textarea {font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体";outline: none;}

.main{
    width: 400px;
    height: auto;
    /* position: relative; */
    /* background-color: rgb(239, 243, 18); */
    text-align: center;
    margin: auto;
}

.tip{
    color: #515151;
    font-size: 20px;
    font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体";
    padding-inline: 40px;
}

.logo{
    /* width: 200px; */
    /* height: 200px; */
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

.logo_image{
    width: 250px;
    height: 250px;
}

.user_input{
    display: inline-block;
    width: 300px;
    height: 50px;
    background-color: white;
    outline: none;
    border: solid 1px #E5E5E5;
}

.welcome{
    text-align: center;
    padding-bottom: 10px;
}

.user_data div{
    padding: 10px;
}

/* .item{
    padding: 10px;
} */

.data_sub{
    display: inline-block;
    width: 300px;
    height: 50px;
    background-color: #32a5e7;
    color: white;
    outline: none;

    font-size: 20PX;
    cursor: pointer;
}