<!DOCTYPE html>
<html>
    <head>
        <title>API test</title>
        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/static/js/xml.js"></script>
        <script>
            function Test() {
                // 请求数据名
                let postData = "name=test_data"
                
                // 发送请求
                axios.post('/api', postData)
                .then (function (response) {
                    startParse(response.data)
                    console.log(response);
        
                })
                .catch(function (error) {
                    alert(error);
                    console.log(error);
                });
            }

            // 解析请求数据
            function startParse(data) {
                var datas = JSON.parse(data);
                var txt = document.getElementById("txt");

                for (var i = 0; i < datas.length; i++) {
                    var divs = document.createElement("div");
                    var name_p = document.createElement("p");
                    var text_p = document.createElement("p");
                    
                    divs.setAttribute("class","creatediv");
                    name_p.setAttribute("class","createdivs");
                    text_p.setAttribute("class","createdivs");
                    
                    name_p.innerHTML=datas[i].name
                    text_p.innerHTML=datas[i].text
                    divs.appendChild(name_p);
                    divs.appendChild(text_p);
                    // alert(datas[i].name)
                    // alert(datas[i].commit)

                    if (txt.children.length == 0) {
                        txt.appendChild(divs);
                    } else {
                        txt.insertBefore(divs, get_firstChild(txt));
                    }
                }
            }
        </script>
    </head>
    <body>
        <div>
                <input type="button" onclick="Test()" value="test">
        </div>
        <div id="txt">

        </div>
    </body>
</html>